body {
  background-color : #f2b2cc
}




.header-nav ul li {
  display: inline;
  border: 10px solid red;
  background-color: #ccc;
  padding: 10px;
  width: 10px;
  text-align: center;
  border: 3px solid green;
margin : auto;
}
main img {
  width: 400px;

}

header h1 {
  color : palevioletred;
  background-color: pink;
}

main ul {
  background-color:bisque;
}